<?xml version="1.0"?>

<model>
  <name>UAM with Plugin</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rakshit</name>
    <email></email>
  </author>
  
  <description>
    starting with UAM
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://UAM</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
